:root{
    --blue: #38f8d4;
    --blue2: #32717a;
    --love: #ff887c;
    --passion: #b6325f;
    --container-size: 400px;
    --softness: #ffd1fc;
    --touch: #fad0c6;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shizuru&family=Ultra&display=swap');

*{
    font: 'Roboto', sans-serif;
}

body{
    background-image: linear-gradient(var(--softness),var(--touch));
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 600px;
    width: var(--container-size);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 8px black;
    background-image: linear-gradient(var(--love),var(--passion));
}


.display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: var(--container-size);
    flex: 1;  
    font-size: 40px;

}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,20%);
    flex: 3;
}

.btn,
.num,
.operator,
.decimal,
.delete,
.percent,
.equals{
    background-color: var(--love);
    opacity: 0.5;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: ease 0.07s;
    border-radius: 10px;
}

.btn:hover{
    transform: scale(0.98);
}
a{
    text-decoration: none;
    color: black;
}


