:root{
    --blue: #38f8d4;
    --blue2: #32717a;
    --love: #ff887c;
    --passion: #b6325f;
    --container-size: 600px;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shizuru&family=Ultra&display=swap');

*{
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-image: linear-gradient(var(--love),var(--passion));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 800px;
    background-image: linear-gradient(#cd4d89,#422357);
    width: var(--container-size);
    border: 1px black solid;
    border-radius: 20px;
    position: relative;
    display: flex;
    padding: 20px;
}

.display{
    height: 175px;
    width: var(--container-size);
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    border-radius: 10px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 30px;
    align-items: flex-end;
    text-align: right;
    line-height: 70px;
    font-size: 70px;
}

.btn-container{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 610px;
    width: var(--container-size);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    padding-bottom: 30px;
    grid-row-gap: 10px;
    
}
.btn{
    color: white;
    background-color: black;
    border: none;

    font-size: 30px;
    height: auto;
    width: 130.5px;
    border-radius: 30%;
    
}
.btn:hover{
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    color: black;
}

